<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
  </head>
  <body>
    <h2>fortunes</h2>
    <form method="POST" action="/">
        <input type="text" id="username" name="username" placeholder="username" required><br><br>
        <input type="text" id="birth_month" name="birth_month" placeholder="birth month" required><br><br>
        <input type="submit" value="result">
    </form>
  </body>
</html>