 <!DOCTYPE html>
<html>
<head>
    <title>Fortune teller</title>
</head>
<body >

    <h1 style="font-size: 60px; text-align: center;">Thank you for your quote</h1>
    <h1 style="font-size: 60px; text-align: center;">{{speaker}} : {{quote}}</h1>

    <form style="size: 60px; text-align: center;" action="{{url_for('display')}}" method = "GET">
        <input type="submit" value="display quotes">
    </form>
    <form style="size: 60px; text-align: center;" action="{{url_for('home')}}" method = "GET">
        <input type="submit" value="home">
    </form>




</body>